.box{
    float: left;
    width: 29%;
    height: 300px;
    border:  solid 1px;
    border-radius: 15px;
    margin:20px;
    border-color: lightblue;
    background-color: beige;
    opacity: 0.7;
    overflow: auto;
}
.innerBox{
    padding: 15px;
    word-wrap: none;
}

.input{
    width: 65%;
}

.btn{
    float: left;
    position: relative  ;

}
.title{
    background-color: black;
    color: wheat;
}

.label{
    /* font-size: 20px; */
    font-style: italic;
    font-weight: bold;
}

.btnPos{
    float: right;
    margin: 2px;
}

.titleData{
    font-size: 20px;
    font-weight: bold;
}

.margin{
    margin: 2%;
}